@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to left, rgba(0, 59, 54, 1), rgba(89, 201, 165, 1));
}
main {
    text-align: center;
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(0, 37, 34);
}
h1 {
    color: rgb(255, 51, 102);
    text-align: center;
    text-shadow: 1px 1px 2px rgb(158, 31, 63);
}
.p {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    background-color: rgb(86, 73, 76);
    text-align: center;
    padding: 1em;
    border-radius: 2em;
    box-shadow: 2px 2px 4px rgb(53, 44, 46);
    display: grid;
    width: 220px;
    margin: auto;
}
p {
    color: rgb(86, 73, 76);
    font-weight: bold;
    text-align: center;
}
.voltar {
    padding: 1em;
    width: auto;
    background-color: white;
    border-radius: 1em;
    box-shadow: 1px 1px 4px black;
    margin: auto;
}
.img {
    padding: 2px;
}

@media (max-width: 600px) {
    main {
        text-align: center;
        display: grid;
        width: 350px;
        margin: auto;
    }
    h1 {
        font: bold 30pt Arial, Helvetica, sans-serif;
    }
    p {
        font: bold 20pt Arial, Helvetica, sans-serif;
    }
    .p {
        text-align: center;
    }
    iframe {
        text-align: center;
        width: 350px;
        height: 200px;
    }
    .img {
        padding: 10px;
    }
}